[submodule "extern/cxxopts"]
	path = src/include/extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/nlohmann"]
	path = src/include/extern/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "src/include/extern/lodepng"]
	path = src/include/extern/lodepng
	url = https://github.com/lvandeve/lodepng.git
